/*
	SELECTORES CSS3
	clases "."
	id "#"
	etiqueta "nombre de etiqueta--->ul, div, p....etc"

*/

#slider-libreria, #section2{
	margin-top: 20px;
}
/*color del boton activo*/

.slider .indicators .indicator-item.active {
  background-color: #26c6da;
}

/*propiedades del boton inactivo*/
.slider .indicators .indicator-item {
  background-color: #78909c;
  border: 2px solid #ffccbc;
 }

 .btn-social{
 	margin-left: 20px;
 }