#navegacion{
	margin-top: 50px;
}
#navegacion a{
	color: black;
	font-size: 12px;
}
.item{
	color: #272727 !important;
}
.item:hover{
	color: #00838F !important;
	cursor: pointer !important;
}
#navegacion{
	margin-top: 50px;
}
#navegacion a{
	color: black;
	font-size: 12px;
}
.space{
	margin-right: 10px;
	margin-left: 10px;
}
.nav-active{
	background: #e0e0e0;
	padding: 10px;
	color: black;
	border-radius: 5px;
}
.nav-active:hover{
	color: black !important;
}
#navegacion a:hover{
	color: #00838F;
}
.agregaIdioma{
	margin-top: -40px !important;
}
.itemsIdioma{
	margin-top: -70px !important;
	margin-bottom: 10px !important;
}
.remover-idioma{
	font-weight: bold;
	background: none;
	border: 0;
	color: red;
	padding: 0;
	float: right;
}